/* Sidebar.css */

.sidebar-card {
  position: fixed;
  top: 50%;
  left: 0;
  margin-left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 8px 24px 5px rgba(233, 233, 233, 0.9);
  background-color: #f3f3f4;
  border: 0.5px solid #d9d9d9;
  border-radius:  10px;
}

.sidebar-body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
